<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">

    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="passeword">passeword</label>
        <input type="^passeword" id="passeword" name="password" required>
    </div>
    <button type="submit">login</button>
    </form>
    <a href="register.ejs">Register</a>
    
</body>
</html>